<div class="container color-dark">
  <div class="col">
    General information
  </div>
  <div class="col">
    TOP Offensors List
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <div class="costsChart" *ngIf="costsChart">
      <canvas id="canvas">{{ costsChart }}</canvas>
    </div>

    <br />
    <br />

    <div class="container color-dark">
      <div class="col">
        This month
      </div>
    </div>
    <div class="container color-light" *ngFor="let cost of costs">
      <div class="col">
        {{ cost.label }}
      </div>
      <div class="col">
        $ {{ cost.data[2] }} BRL
      </div>
    </div>

  </div>
  <div class="col">
    <p class="life-container">
      TOP 10 CC Offensors
    </p>
    <p *ngFor="let ccoffensor of topOffersorsCC">
      {{ ccoffensor.Title }}: $ {{ ccoffensor.Value }} BRL
    </p>
    <p> </p>
    <p class="life-container">
      TOP 10 User Offensors
    </p>
    <p *ngFor="let usrOffensor of topOffersorsUser">
      {{ usrOffensor.Name }}: $ {{ usrOffensor.Value }} BRL
    </p>
  </div>
</div>
